VacationPy Homework

In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from pprint import pprint
from scipy.stats import linregress
import gmaps

# Import API key
from config import weather_api_key

-import dependencies and api key

In [16]:
cities = pd.read_csv("C:/Users/krcon/OneDrive/Desktop/Class Master Folder/Challenge6APIs/citiescsv.csv", encoding="utf-8")

# Getting data types
cities.dtypes

City           object
Latitude      float64
Longitude     float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

-load csv of random cities that was generated in WeatherPy

In [17]:
cleaned_cities= cities.dropna()
cleaned_cities

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bathsheba,13.2167,-59.5167,88.41,79,20,20.71,BB,1659028092
1,Vaini,-21.2000,-175.2000,73.56,100,75,5.75,TO,1659028108
2,San Francisco Menéndez,13.8431,-90.0158,82.15,74,100,4.79,SV,1659028109
3,Rikitea,-23.1203,-134.9692,73.35,70,2,20.65,PF,1659028109
4,Ponta Delgada,37.7333,-25.6667,77.72,61,20,11.50,PT,1659028109
...,...,...,...,...,...,...,...,...,...
543,Popondetta,-8.7537,148.2534,71.91,92,44,2.57,PG,1659028249
544,Katsuura,35.1333,140.3000,79.16,92,97,9.86,JP,1659028250
545,Praia da Vitória,38.7333,-27.0667,76.75,76,17,7.14,PT,1659028250
546,Ketchikan,55.3422,-131.6461,66.67,72,0,8.05,US,1659028250
547,Upington,-28.4478,21.2561,65.73,19,21,11.61,ZA,1659028251

In [18]:
humidity = cities["Humidity"].astype(float)
max_humidity = humidity.max()
location = cities[["Latitude", "Longitude"]]

-Use the latitude and longitude as locations and humidity as the weight

In [19]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(location, weights = humidity,dissipating = False, max_intensity = 100,point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

-configure gmaps

In [22]:
ideal_city_df = cleaned_cities.loc[(cleaned_cities["Max Temp"] <= 88) &
                                  (cleaned_cities["Max Temp"] > 80)&
                                  (cleaned_cities["Wind Speed"] < 10) &
                                  (cleaned_cities["Cloudiness"] == 0), :]
ideal_city_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
79,Portland,45.5234,-122.6762,82.58,62,0,5.75,US,1659027750
136,Agía Galíni,35.1000,24.6833,82.74,59,0,1.39,GR,1659028141
247,Tiznit Province,29.5833,-9.5000,82.06,43,0,9.35,MA,1659028170
273,Jablah,35.3614,35.9256,86.29,62,0,3.44,SY,1659028177
314,Marsá Maţrūḩ,31.3525,27.2453,81.36,65,0,7.76,EG,1659028188
391,Gushikawa,26.3544,127.8686,83.43,83,0,5.75,JP,1659028209
445,Nishihara,26.1842,127.7558,83.48,84,0,8.05,JP,1659028224
448,Tunceli,39.1083,39.5471,81.63,26,0,2.64,TR,1659028225
480,Redmond,47.6740,-122.1215,84.34,65,0,4.00,US,1659028065

-Define ideal city and create dataframe displaying just those cities

In [35]:
hotel_df = ideal_city_df[["City", "Country", "Latitude", "Longitude"]].copy()

#Add column for Hotel NAme
hotel_df["Hotel Name"]= np.nan
hotel_df

                City Country  Latitude  Longitude  Hotel Name
79          Portland      US   45.5234  -122.6762         NaN
136      Agía Galíni      GR   35.1000    24.6833         NaN
247  Tiznit Province      MA   29.5833    -9.5000         NaN
273           Jablah      SY   35.3614    35.9256         NaN
314     Marsá Maţrūḩ      EG   31.3525    27.2453         NaN
391        Gushikawa      JP   26.3544   127.8686         NaN
445        Nishihara      JP   26.1842   127.7558         NaN
448          Tunceli      TR   39.1083    39.5471         NaN
480          Redmond      US   47.6740  -122.1215         NaN

-store ideal cities as hotel_df and add column Hotel Name

-search for hotels within 5000 meters of cities
-set params as a dictionary
-define base url

In [36]:
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": weather_api_key
}


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response=requests.get(base_url, params=params)

In [ ]:
print(response.url)

In [38]:
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    
    hotel_df = requests.get(base_url, params).json()
    
    
    try:
        hotel_name = hotel_data["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"City '{row['City']}' was found! The nearest hotel is {hotel_name}")
      
    except:
        print(f"Could not find nearest hotel for '{row['City']}")

Could not find nearest hotel for 'Portland
Could not find nearest hotel for 'Agía Galíni
Could not find nearest hotel for 'Tiznit Province
Could not find nearest hotel for 'Jablah
Could not find nearest hotel for 'Marsá Maţrūḩ
Could not find nearest hotel for 'Gushikawa
Could not find nearest hotel for 'Nishihara
Could not find nearest hotel for 'Tunceli
Could not find nearest hotel for 'Redmond

-Ran out of time to troubleshoot why no hotels are being retrived